JWT_AUDIENCE=chat
ENV=development
LOG_LEVEL=info
PORT=8001

MIGRATION_DATABASE_URL=
APP_DATABASE_URL=

JWT_JWKS_URI=http://authentication:8014/.well-known/jwks.json
FRONTEND_URL=http://localhost:5173
